@use "../../../styles/variables" as *;

.archive-board-wrapper {
  width: 76.35vw;
  height: 41.67vw;
  overflow-y: auto;
  background-color: $color-white;
  box-shadow: -0.26vw 0 0.42vw 0 rgba(217, 217, 217, 0.5);

  &::-webkit-scrollbar {
    width: 0.26vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-color2;
    border-radius: 1.04vw;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.archive-board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.56vw 1.04vw;

  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $color-white;

  .archive-board-title {
    font-size: 1.04vw;
    font-weight: 600;
    color: $gray-color3;
  }

  .archive-board-buttons {
    display: flex;
    gap: 1.1vw;
    margin-right: 2.45vw;
  }
}

.archive-board {
  display: grid;
  grid-template-columns: repeat(4, 15.63vw);
  gap: 4.17vw 2.34vw;
  justify-content: center;
  margin-bottom: 2.5vw;
}

.empty-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.52vw;

  img {
    width: 23.7vw;
    height: 24.58vw;
  }
}

.archive-card {
  background-color: transparent;
  width: 15.63vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.94vw;
  position: relative;

  .card-thumbnail {
    width: 100%;
    height: 11.46vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-color1;
    border-radius: 1.04vw;
    position: relative;
    overflow: hidden;
    border: 0.13vw solid $gray-color1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .delete-button {
      position: absolute;
      right: 1.04vw;
      top: 1.04vw;
      border: none;
      background: none;
      width: 1.3vw;
      height: 1.3vw;
      padding: 0;
      cursor: pointer;
      color: #262626;
    }
  }

  .card-name {
    width: 100%;
    height: 2.86vw;
    background-color: $gray-color1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.04vw;
    border-radius: 0.78vw;
  }
}

.archive-btn {
  border-radius: 1.56vw;
  font-size: 0.89vw;
  font-weight: 600;
  border: 2px solid $gray-color2;
  background-color: transparent;
  color: $gray-color3;
  cursor: pointer;

  &:hover {
    color: #262626;
    border: 2px solid $gray-color3;
  }

  &:active,
  &.active {
    color: #007bff;
    border-color: transparent;
    background-color: $background-color2;
  }
}
