@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as m;

// 버튼 색상
$color-confirm-default: $main-color1;
$color-confirm-hover: $main-color2;
$color-confirm-active: $main-color3;

$color-cancel-default: $gray-color1;
$color-cancel-hover: $gray-color2;
$color-cancel-active: $gray-color3;

// 폰트
$font-lg: 1.82vw; // 35px
$font-md: 1.3vw; // 25px
$font-button: 1.67vw; // 32px

.dialog-overlay {
  position: absolute;
  top: 10.42vw;
  left: 23.65vw;
  width: 76%;
  height: 41.67vw;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; // 가장 위에
}

.dialog {
  width: 39.06vw; // 750px
  height: 20.57vw; // 395px
  background-color: $color-white;
  border-radius: 1.56vw;
  @include m.flex-center;
  flex-direction: column;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.04vw 1.04vw 0 1.04vw; // 20px
    margin-bottom: 2.55vw; // 49px;
  }

  &__left {
    @include m.flex-center;
    gap: 0.78vw; // 15px
  }

  &__icon {
    width: 2.6vw;
    height: 2.6vw;
    @include m.flex-center;
    justify-content: center;
  }

  &__title {
    font-size: $font-lg;
    font-weight: 700;
    @include m.flex-center;
    flex-grow: 1;
  }

  &__close {
    width: 2.6vw;
    height: 2.6vw;
    cursor: pointer;
    @include m.flex-center;
    justify-content: center;
  }

  &__content {
    @include m.flex-center;
    flex-direction: column;
    gap: 0.89vw; // 17px
  }

  &__message {
    font-size: $font-lg;
    font-weight: 700;
  }

  &__submessage {
    font-size: $font-md;
    font-weight: 400;
  }

  &__buttons {
    @include m.flex-center;
    gap: 3.39vw; // 65px
    margin-top: 2.66vw; // 51px
  }

  &__button {
    width: 14.06vw; // 270px
    height: 4.17vw; // 80px
    border-radius: 1.3vw;
    font-size: $font-button;
    font-weight: 600;
    color: $color-white;
    border: none;
    cursor: pointer;

    &--cancel {
      background-color: $color-cancel-default;

      &:hover {
        background-color: $color-cancel-hover;
      }

      &:active {
        background-color: $color-cancel-active;
      }
    }

    &--confirm {
      background-color: $color-confirm-default;

      &:hover {
        background-color: $color-confirm-hover;
      }

      &:active {
        background-color: $color-confirm-active;
      }
    }
  }
}
