// 색상
$background-color: #ffffff;
$background-color2: #f5f5f5;
$color-white: #ffffff;

$main-color1: #82cbff;
$main-color2: #00a1ff;
$main-color3: #007bff;

$gray-color1: #d9d9d980;
$gray-color2: #d9d9d9;
$gray-color3: #7b7b7b;

$check-color: #0095ff;
$error-color: #d60000;
