@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as m;

$color-button: $gray-color2;
$color-gray-light: $gray-color3;
$color-gray-strong: #262626;

.folder-list {
  background-color: $background-color2;
  width: 23.65vw; // 454px
  height: 41.67vw; // 800px
  display: flex;
  flex-direction: column;

  &__header {
    @include m.flex-center;
    justify-content: space-between;
    padding: 1.56vw 1.3vw; // 30px 25px
  }

  &__title {
    font-size: 1.04vw; // 20px
    font-weight: 500;
    color: $color-gray-light;
  }

  &__add-button {
    width: 1.46vw; // 28px
    height: 1.46vw;
    border: 0.1vw solid $color-button; // 2px
    background-color: transparent;
    color: $gray-color1;
    border-radius: 50%;
    cursor: pointer;
    @include m.flex-center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-button;
      border: none;
      color: $color-gray-light;
    }

    &:active {
      background-color: $color-button;
      border: none;
      color: $main-color3;
    }
  }

  &__items {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.56vw; // 30px
    margin-top: 0.52vw; // 10px

    &::-webkit-scrollbar {
      width: 0.26vw; // 5px
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-gray-light;
      border-radius: 1.04vw; // 20px
    }

    &::-webkit-scrollbar-track {
      background-color: $color-button;
    }
  }
}

.folder-item {
  width: 100%;
  height: 3.02vw; // 58px
  @include m.flex-center;
  justify-content: space-between;
  padding: 0.78vw 1.3vw; // 15px 25px
  border-radius: 1.04vw; // 20px
  transition: background-color 0.3s ease;

  // 기본 hover (편집 중 아닐 때, 클릭 X)
  &:not(.folder-item--editing):not(.folder-item--clicked):not(
      .folder-item--double-clicked
    ):hover {
    background-color: $gray-color1;
  }

  &--editing {
    background-color: $color-white;
    box-shadow: 0 0.21vw 0.21vw #0000000a; // 4px 4px
  }

  &--clicked {
    background-color: #ffffff;
    box-shadow: 0 4px 4px #0000000a;

    &:hover {
      background-color: #ffffff;
    }
  }

  &--double-clicked {
    background-color: #82cbff;
    box-shadow: 0 4px 4px #0000000a;

    &:hover {
      background-color: #82cbff;
    }
  }

  &--hidden-icons {
    .folder-item__icon {
      display: none;
    }
  }

  &__edit-wrapper {
    @include m.flex-center;
    width: 100%;
    border-bottom: 0.05vw solid $main-color2; // 1px
  }

  &__name {
    font-size: 1.04vw; // 20px
    font-weight: 500;
    color: $color-gray-strong;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 5.35vw; // 한5, 영8글자
  }

  &__input {
    flex: 1;
    font-size: 1.04vw;
    font-weight: 500;
    border: none;
    background: transparent;
    outline: none;
    color: $color-gray-strong;
  }

  &__icons {
    @include m.flex-center;
    gap: 0.52vw; // 10px
  }

  &__icon {
    width: 1.46vw; // 28px
    height: 1.46vw;
    cursor: pointer;
    color: $gray-color3;

    &:hover {
      color: #262626;
    }

    &--confirm {
      color: $color-button;

      &.active,
      &:hover {
        color: $main-color2;
      }

      &:active {
        color: $main-color3;
      }
    }

    &--cancel {
      color: $color-button;

      &:hover {
        color: $color-gray-light;
      }
      &:active {
        color: $color-gray-strong;
      }
    }
  }
  &__error-message {
    color: red;
    font-size: 0.73vw; // 14px
    margin-top: 0.26vw; // 5px
    margin-left: 0.26vw;
    font-weight: 400;
    white-space: nowrap;
    max-width: 100%;
  }
}
