@use "../../../styles//variables" as *;
@use "../../../styles/mixins" as m;

.main-grid {
  width: 1466px;
  height: 800px;
  background-color: $color-white;
  box-shadow: -5px 0px 8px 0px $gray-color1;
  overflow-y: auto;

  //   스크롤 바
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-color2;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: $background-color2;
  }

  .folder-grid {
    display: flex;
    flex-direction: column;

    &__header {
      padding: 30px 20px;

      .folder-grid__title {
        color: $gray-color3;
        font-size: 20px;
        font-weight: 600;
      }
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr); // 가로 4개
      justify-items: center;
      align-items: start;
      gap: 80px 0px;
    }
  }
}
