@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as m;

.folder-grid {
  width: 76.35vw; // 1466px
  height: 41.67vw; // 800px
  background-color: $color-white;
  box-shadow: -0.26vw 0px 0.42vw 0px $gray-color1; // 그림자
  display: flex;
  flex-direction: column;

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-white; // 고정 요소 배경
    padding: 1.56vw 1.04vw; // 30px 20px

    .folder-grid__title {
      color: $gray-color3;
      font-size: 1.04vw; // 20px
      font-weight: 600;
    }
  }

  &__items {
    flex: 1;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
    gap: 4.17vw 0px; // 80px 수직 간격

    // 스크롤 바
    &::-webkit-scrollbar {
      width: 0.26vw; // 5px
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-color2;
      border-radius: 1.04vw; // 20px
    }

    &::-webkit-scrollbar-track {
      background-color: $background-color2;
    }
  }
}
